.card-evento {
  background-color: white;
  border: 2px solid #26266F;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  width: 280px;
  box-shadow: 0 4px 8px rgba(38, 38, 111, 0.1);
  transition: transform 0.2s;
}

.card-evento:hover {
  transform: scale(1.03);
}

.card-evento h3 {
  color: #26266F;
  margin-bottom: 10px;
}

.card-evento p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.card-evento button {
  background-color: #0077B6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.card-evento button:hover {
  background-color: #023E8A;
}
