.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0077c2;
  padding: 10px 20px;
}

.logo img {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #cce7ff;
}
